::placeholder {
    color: #ffffff;
    opacity: 1;
}

* {
    -moz-user-select: auto;
}

.data {
    background: transparent;
    border-color: transparent transparent #ffffff transparent;
    color: #ffffff;
    text-align: center;
}

.Control-Title {
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
    color: #ffffff;
}

.input-tags {
    background-color: transparent;
    border-style: hidden;
    border-bottom: 3px solid #ffffff;
    height: 40px;
    color: #ffffff;
    margin-right: 10px;
    text-align: center;
}

.Logo-Faj {
    margin-top: 30px;
}

.User-text {
    margin-top: 10px;
    color: #ffffff;
    margin-right: 30px;
}

.CreateNews {
    width: 100px;
    height: 45px;
    background-color: transparent;
    color: #ffffff;
    border-style: solid;
    transition: all 0.5s;
}

@media (max-width:620px) {
    .User-text {
        display: none;
    }
}

.card {
    width: 210px;
    height: 320px;
    background-color: #5d57bb;
    background-image: linear-gradient(180deg, #5d57bb 0%, #5ea0d6 100%);
    margin: 24px 21px 0 21px;
    font-size: 12.5px;
    border-radius: 10px;
    color: #fff;
    border-color: #fff;
    transition: 0.5s all;
    text-decoration-color: white;
}

.card:hover {
    box-shadow: 1px 1px 10px 2px #0b090a;
}

.card img {
    height: 100px;
    border-radius: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}

svg {
    fill: #ffffff;
    transition: 0.3s all;
}

svg:hover {
    fill: black;
}

.page-link {
    background-color: transparent;
    border: transparent;
    color: #fff;
}

.CreateNews:hover {
    color: black;
    border-color: black;
}