.img {
    width: 560px;
    height: 350px;
    border-radius: 30px;
}
.news-paragraph1 {
    margin: 30px 0 0 30px;
    width: 60%;
    color: white;
}
.news-paragraph2 {
    margin-top: 20px;
    width: 90%;
    color: white;
}
.Logo-Faj {
    margin-top: 10px;
}
.Cabeçalho {
    margin-top: 25px;
    text-align: center;
    color: white;
}
.file-text
{
    margin-top: 45px;
    margin-left: 30px;
    text-align: center;
    color: white;
}
.file-text:hover
{
    color: white;
}
@media (max-width:1450px) {
    .news-paragraph1 {
        width: 100%;
        margin: 30px 20px 0 20px
        }
    .Cabeçalho{
       margin-bottom: 22px;
    }
}
